body {
  background-color: #f2edd7 ;
  font-family: "Verdana", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.simpleLink {
  font-size: 14px; margin-top: 0px; font-weight: bold; color:#0e49b5; 
}

.appTitleTable {
  font-size: 16px; margin-top: 0px; font-weight: bold; text-align: center; color: #ffffff;
  background-color: #323232; border-style: solid; padding: 8px; border-width: 1px;
}

.menuTable {
  display: flex;  
  flex-wrap: wrap;
}

.menuItem {
  background-color: #f4d9c6; border-style: solid; padding-left: 20px; padding-right: 20px; padding-top: 5px; padding-bottom: 5px; border-width: 1px;
}

.simpleLineBreak {
  height: 15px;
}

/* .menuTableHead {
  font-size: 14px; margin-top: 0px; font-weight: bold; text-align: left;
}

.menuTableBody {
  font-size: 14px; margin-top: 0px; font-weight: bold;
} */

.taskTableHead {
  font-size: 14px; margin-top: 0px; font-weight: bold; text-align: left;
}

.taskTableBody {
  font-size: 14px; margin-top: 0px;
}

.appFooter {
  border-style: solid; font-size: 14px; color: #999b84;  text-align: center; margin-top: 3px;  margin-bottom: 3px;
  background-color: #323232; padding: 8px; border-width: 1px;
}

/*
References:
https://colorhunt.co/
https://www.w3schools.com/css/css_font.asp
https://www.w3schools.com/css/css_border_width.asp

*/